/* General Reset */
* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.6;
  background-color: #fff;
}

/* Header Styles */
header {
  padding: 0.2em 0.9em;
  border-bottom:0.1em solid #ddd;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow:visible;
}

header .header-button img{
	height:3.7em;
	width:10em;
	border-style:none;
	transition: transform 0.3s ease;
}

header .header-button img:hover{
transform: scale(1.1);
}

header .header-button button{
	top:10%;
	border-style:none; }

header .logo{
	display:flex;
	text-decoration:none;
	transition: transform 0.3s ease;
}

header .logo:hover{
	transform: scale(1.1);
}


header a {	text-decoration:none;
	display:flex;
	justify-content:center;
	align-items:center;
}

header .logo span {
	font-size:1.2em;
	font-weight:bold;
}

header .logo a #rifq {color:#1d1c1a;}
header .logo a #clinic {color:#f5b90d;}


header .logo img {
height:3.2em;
width:3.2em;
margin-right:0.5em;
}

/* Welcome Here */
.welcome-here {
  background: url('../images/home-background.png') no-repeat center center/cover;
  color: white;
  padding: 7em 10em;
}

.welcome-here h2 {
  font-size: 3em;
  margin: 0.25em 0;
}
.welcome-here p {
	font-size:1em;
	color:#f5b90d;
}

.welcome-here-txt {
  background-color: #f9f6ee; 
  padding: 0.2em 0.6em;
  border-radius: 0.3em; 
  display: inline-block; 
  font-weight: bold; 
  text-align: center; 
}

.welcome-here button  {
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#f5b90d;
	color:#fff;
	width: 12.2em;
	height: 3.5em;
	border-radius:0.3em;
	transition: transform 0.3s ease;
	padding-right:0.4em;
}
.welcome-here button:hover{
	transform: scale(1.1);
}
.welcome-here button img {
	height:2em;
	width:2em;
}
/* List Topics */
  .list-topics {
    position: relative;
    padding: 4em 0;
  }
  
  .list-topics .container{    
	display: flex;
    justify-content: space-between;
    align-items: center;
	}
  
  .list-topics ul {
	display:flex;
	justify-content:space-around;
	list-style: none; 
	  }
  
  .list-topics-content {
    position: absolute;
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    gap: 20px;
    z-index: 10; 
	
  }

  /* Individual list items */
  .single-list-topics-content {
	  display:flex;
	margin:2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    width: 20em; 
	overflow:visible;
  }

  .single-list-topics-icon img{
	height:4em;
	width:4em;
	margin-right:1em;
  }

  .single-list-topics-content h2 {
    font-size: 1em;
    color: #333;
  }

  .single-list-topics-content p {
    font-size: 0.7em;
    color: #777;
  }

  /* Styling for a fixed background */
  .list-topics::before {
    content: '';
    position: fixed; /* Keeps the background fixed while scrolling */
    top: 0;
    left: 0;

    background: url('your-background-image.jpg') no-repeat center center/cover;
    z-index: 1; /* Ensures background is behind the blocks */
  }
  
  
/* Split Section */
.split-section {
  display: flex;
  height: 27.5em;
}

.split-section .left-half {
  width: 50%;
    display: flex;
	justify-content:center;
}
.split-section img {
	margin:0 5em;
	height:25em;
	width:25em;
}

.split-section .right-half {
  width: 50%;
  padding: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.split-section h2 {
  font-size: 2em;
}

.split-section p {
  margin-bottom: 30px;
  color: #555;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5b90d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
	transition: transform 0.3s ease;
}

.login-button:hover {
	transform: scale(1.025);
}

.signup-link {
  margin-top: 10px;
  font-size: 14px;
  color: #f5b90d;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}


/* Footer Styles */
.footer {
  background-color: #5c4d48;
  color: white;
}

.footer-top .container .row{
	display:flex;
	justify-content:space-around;
	align-items:top;
}

.footer-top span {
	font-weight:bold;
}


.footer-top .container .row .col {
	max-width:25%;
	transition: transform 0.3s ease;
}

.footer-top .container .row .col:hover {
	transform: scale(1.025);
}

.footer-top {
	padding: 2em;
}

.footer h2 {
	text-shadow:0.1em 0.1em 0.1em #333;
	font-size: 20px;
	margin-bottom: 15px;
	color:#f5b90d;
}

.footer p {
  font-size: 14px;
  margin-bottom: 15px;
	text-shadow:0.1em 0.1em 0.08em #333;
}

.footer .social {
	font-size: 0.9em;
}

.footer .social li {
  list-style: none;
  margin-bottom: 0.2em;
}

.footer .social img {
	height:1em;
	width:1em;
	margin-right:0.3em;
	}

.footer .time-sidual {
  list-style: none;
}

.footer .time-sidual li {
  font-size: 14px;
  margin-bottom: 10px;
}

.copyright {
	bottom:0%;
	text-align: center;
	padding: 15px;
	background-color: #332c28;
	color: white;
	font-size: 14px;
}

.copyright span {
	text-decoration:underline;
	
}