/* Welcome Here */
.welcome-here {
  background: url('../images/home-background.png') no-repeat center center/cover;
  color: white;
  padding: 7em 10em;
}

.welcome-here h2 {
  font-size: 3em;
  margin: 0.25em 0;
}
.welcome-here p {
	font-size:1em;
	color:#f5b90d;
}

.welcome-here-txt {
  background-color: #f9f6ee; 
  padding: 0.2em 0.6em;
  border-radius: 0.3em; 
  display: inline-block; 
  font-weight: bold; 
  text-align: center; 
}

.welcome-here #appointment-button  {
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#f5b90d;
	color:#fff;
	width: 11.8em;
	height: 3em;
	border-radius:0.3em;
	transition: transform 0.3s ease;
	padding-right:0.4em;
	text-decoration:none;
}
.welcome-here #appointment-button:hover{
	transform: scale(1.1);
}
.welcome-here #appointment-button img {
	height:2em;
	width:2em;
}
/* List Topics */
  .list-topics {
    position: relative;
    padding: 4em 0;
  }
  
  .list-topics .container{    
	display: flex;
    justify-content: space-between;
    align-items: center;
	}
  
  .list-topics ul {
	display:flex;
	justify-content:space-around;
	list-style: none; 
	  }
  
  .list-topics-content {
    position: absolute;
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    gap: 20px;
    z-index: 10; 
	
  }

  /* Individual list items */
  .single-list-topics-content {
	  display:flex;
	margin:2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    width: 20em; 
	overflow:visible;
  }

  .single-list-topics-icon img{
	height:4em;
	width:4em;
	margin-right:1em;
  }

  .single-list-topics-content h2 {
    font-size: 1em;
    color: #333;
  }

  .single-list-topics-content p {
    font-size: 0.7em;
    color: #777;
  }

  /* Styling for a fixed background */
  .list-topics::before {
    content: '';
    position: fixed; /* Keeps the background fixed while scrolling */
    top: 0;
    left: 0;

    background: url('your-background-image.jpg') no-repeat center center/cover;
    z-index: 1; /* Ensures background is behind the blocks */
  }
  
  
/* Split Section */
.split-section {
  display: flex;
  height: 27.5em;
}

.split-section .left-half {
  width: 50%;
    display: flex;
	justify-content:center;
}
.split-section img {
	margin:0 5em;
	height:25em;
	width:25em;
}

.split-section .right-half {
  width: 50%;
  padding: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.split-section h2 {
  font-size: 2em;
}

.split-section p {
  margin-bottom: 30px;
  color: #555;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5b90d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
	transition: transform 0.3s ease;
	border-style:none;
}

.login-button:hover {
	transform: scale(1.025);
}

.signup-link {
  margin-top: 10px;
  font-size: 14px;
  color: #f5b90d;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}


