

 
 .containerr {
            text-align: center;
            padding: 20px;
        }

        .hero {
            position: relative;
            background-color: #d07f00;
            padding: 20px 20px;
            color: #fff; /* النص باللون الأبيض */
            border-radius: 0 0 50% 50%;
        }

        .hero img {
            width: 250px;
            border-radius: 50%;
            animation: float 3s ease-in-out infinite;
        }

        @keyframes float {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-20px);
            }
        }

        .hero h1 {
            font-size: 2.5rem;
            font-weight: bold;
        }

        .hero p {
            color: #ddd;
            margin: 10px 0 20px;
        }

        .hero .explore-btn {
            padding: 10px 20px;

				background-color:#ffda6f;
	color:#fff;
	width: 12.2em;
	height: 3.5em;
	border-radius:0.3em;
	transition: transform 0.3s ease;
        }

        .categories {
            margin: 20px auto;
            max-width: 800px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .categories div {
            margin: 30px;
            background-color: #ffda6f;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }
        .categories div:hover {
			z-index:10;
			background-color:#fbbd07;
            transform: scale(1.1);
			box-shadow: 0 0 5px Orange,
			0 0 25px Orange , 0 0 50px Orange ;
        }

        .stats {
            display: flex;
            justify-content: center;
            padding: 20px;
            background-image: url("../images/b.jpeg");
        }

        .banner_main {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.4);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .contactus {
            margin-bottom: 15px;
            text-align: left;
        }
		

        

        .contactus label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .contactus input, .contactus select, .contactus textarea, button {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        form button {
            background-color: #d07f00;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
			
        }
		
		

        form button:hover {
            background-color: #b35e2a;
        }


