 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fff;
            color: #333;
        }

        .primary {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
        }

        .title h1 {
            font-size: 32px;
            color: #333;
        }

        .title p {
            font-size: 16px;
            color: #555;
        }

        .contact-section {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            background-color: #fffaf3;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .contact-info {
            flex: 1;
            min-width: 300px;
            padding: 20px;
            background-image: url("m.jpeg");
            color: white;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .contact-info:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        .contact-info h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .contact-info p {
            font-size: 14px;
            margin-bottom: 20px;
        }

        .contact-info ul {
            list-style: none;
            padding: 0;
        }

        .contact-info ul li {
            margin-bottom: 10px;
            font-size: 14px;
        }

        .contact-info ul li span {
            display: block;
            font-weight: bold;
        }

        .form-container {
            flex: 2;
            min-width: 300px;
            padding: 40px;
        }

        .form-container form {
            display: flex;
            flex-direction: column;
        }

        .form-container form label {
            margin-bottom: 5px;
            font-size: 14px;
            color: #333;
        }

        .form-container form input,
        .form-container form textarea {
            margin-bottom: 5px;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
        }

        .form-container form textarea {
            height: 100px;
        }

        .form-container form button {
            background-color: #fdc006;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .form-container form button:hover {
            background-color: #fdc006;
        }

        .form-container .gender-group {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
        }

        .form-container .gender-group label {
            margin-right: 5px;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .form-container .medications {
            margin-bottom: 30px;
        }

        .form-container .medications div {
            margin-bottom: 2px;
        }

        .form-container .medications label,
        .form-container .medications input {
            display: inline-flex;
            align-items: center;
            margin-right: 10px;
        }

        .form-container .medications label {
            margin-left: 5px;
        }

        header {
            padding: 0.2em 0.9em;
            border-bottom: 0.1em solid #ddd;
        }

        header .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: visible;
        }

        header .header-button img {
            height: 3.7em;
            width: 10em;
            border-style: none;
            transition: transform 0.3s ease;
			background-color:#fff;
        }

        header .header-button img:hover {
            transform: scale(1.1);
        }

        header .logo {
            display: flex;
            text-decoration: none;
            transition: transform 0.3s ease;
        }

        header .logo:hover {
            transform: scale(1.1);
        }

        header a {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        header .logo span {
            font-size: 1.2em;
            font-weight: bold;
        }

        header .logo a #rifq {
            color: #1d1c1a;
        }

        header .logo a #clinic {
            color: #f5b90d;
        }

        header .logo img {
            height: 3.2em;
            width: 3.2em;
            margin-right: 0.5em;
            transition: transform 0.3s ease;
        }

        header .logo img:hover {
            transform: scale(1.1);
        }

        img {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        img:hover {
            transform: scale(1.2);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        .footer {
            background-color: #5c4d48;
            color: white;
        }

        .footer-top .container .row {
            display: flex;
            justify-content: space-around;
            align-items: top;
        }

        .footer-top span {
            font-weight: bold;
        }

        .footer-top .container .row .col {
            max-width: 25%;
            transition: transform 0.3s ease;
        }

        .footer-top .container .row .col:hover {
            transform: scale(1.025);
        }

        .footer-top {
            padding: 2em;
        }

        .footer h2 {
            text-shadow: 0.1em 0.1em 0.1em #333;
            font-size: 20px;
            margin-bottom: 15px;
            color: #f5b90d;
        }

        .footer p {
            font-size: 14px;
            margin-bottom: 15px;
            text-shadow: 0.1em 0.1em 0.08em #333;
        }

        .footer .social {
            font-size: 0.9em;
        }

        .footer .social li {
            list-style: none;
            margin-bottom: 0.2em;
        }

        .footer .social img {
            height: 1em;
            width: 1em;
            margin-right: 0.3em;
            transition: transform 0.3s ease;
        }

        .footer .social img:hover {
            transform: scale(1.2);
        }

        .footer .time-sidual {
            list-style: none;
        }

        .footer .time-sidual li {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .copyright {
            bottom: 0%;
            text-align: center;
            padding: 15px;
            background-color: #332c28;
            color: white;
            font-size: 14px;
        }

        .copyright span {
            text-decoration: underline;
        }